POSTGRES_USER=root
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=tabaratomano

DATABASE_URL=postgresql://root:rootpassword@postgres:5432/tabaratomano?schema=public

# Authentication
JWT_SECRET=YOUR_SECRET_KEY_HERE
JWT_EXPIRES_IN=7d

API_PORT=3000
SCRAPER_PORT=3001
